:root{

--withe: #FFFFFF;

--gray10:#F2F4F8;
--gray20: #DDE1E6;
--gray30: #C1C7CD;
--gray60: #697077;
--gray90: #21272A;
--gray100: #121619;

--primary-blue:#001D6C;
--secondary-blue: #0F62FE;
--tertiary-blue: #A6C8FF;

--font-family: 'Roboto', sans-serif;

}