/* CSS MENU */
.menu-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 24px 16px 24px 16px;
    max-width: 256px;
    height: 100%;
    top: 0;
    left: 0;
    border: 0px 1px 0px 1px;
    background-color: var(--withe);
    transition: .5s;
}

/* LOGO MENU */
.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 224px;
    padding: 0;
    
}

.logoImg {
    width: 21px;
    height: 21px;
    margin: 4px;
    padding: 0;
    flex-direction: row;
}

.logoCc {
    word-wrap: break-word;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: var(--gray60);
    font-size: 24px;
    font-family: var(--font-family);
    font-weight: 700;
}

.subLogo {
    display: flex;
    flex-direction: column;
    align-self: last baseline;
    font-size: 12px;
    font-weight: 400px;
    color: var(--gray90);
    padding: 2px;
}

/* NAV BUTTONS */
.navMenu {
    width: 100%;
    height: 801px;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: inline-flex;
    border: none;
    margin: 16px 0px 16px 0;
}

.navButtons {
    width: 100%;
  
    background-color: var(--withe);
    color: var(--gray90);
    align-self: stretch;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-bottom: 0.50px #F2F4F8 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    margin: 0;
    cursor: pointer;
}
button{width: 100%;}
 button :hover{
    background-color: var(--gray10);
 }